{% extends "code_doc/base_template.html" %}
{% load gravatar %}
{% load static %}
{% load author_image %}

{% block title %}Author's list{% endblock %}

{% block content %}
  <h1>Authors</h1>

{% if authors %}
 
  {% for author in authors %}
    <div class="media">
	    <a class="pull-left" href="{% url 'author' author.id %}">
	      {% author_image author.id 32 %}
	    </a>
	
	    <div class="media-body">
	      <h4 class="media-heading"><a href="{% url 'author' author.id %}" >{{ author.firstname }} {{ author.lastname }}</a> <span class="badge">{{author.project_set.count}}</span> </h4>
	      <p>{{author.email}}</p>
	    </div>
    </div>
  {% endfor %}
  
    <ul class="pagination">

      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}


      {% for p in paginator.page_range %}
        {% if p == page_obj.number %}
          <li class="active">
            <span>{{ p }} <span class="sr-only">(current)</span></span>
          </li>
        {% else %}
          <li>
            <a href="?page={{ p }}">{{ p }}</a>
          </li>            
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
            
    </ul>  
  
  {% else %}
      <p>No known author.</p>
  {% endif %}  





{% endblock %}