{% load gravatar %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap.css"  %}">
    <link rel="stylesheet" href="{% static "svg.css" %}">
    <link rel="stylesheet" href="{% static "pygment.css" %}">
	  <link rel="shortcut icon" href="{% static "glyphicons-428-git-pull-request.png" %}">

    <script language="javascript" type="text/javascript" src="{% static "jquery-1.11.1.min.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "bootstrap-3.2.0-dist/js/bootstrap.js" %}"></script>

    {% block additionalhead %}
    {% endblock %}

    <title>
      {% block title %}Template title{% endblock %}
    </title>
  </head>
  
  <body>
    
  <nav class="navbar navbar-default navbar-inverse" role="navigation">

	<div class="container-fluid">
	
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
        <li><a class="navbar-brand" href="{% url 'project_list' %}">Projects</a></li>
        <li><a class="navbar-brand" href="{% url 'topics_list' %}">Topics</a></li>
        <li><a class="navbar-brand" href="{% url 'authors_list' %}">Authors</a></li>
      </ul>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      
      	{% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-primary  navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{ user.username }}
            <span class="caret"></span>
          </button>
          
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'maintainer' user.id %}">Profile</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}?next={% url 'index' %}">Log out</a></li>
          </ul>
        </div>
        {% else %}        
         <a type="button" class="btn btn-warning navbar-btn" href="{% url 'login' %}?next={{request.path}}">Log in</a>
        {% endif %}
      </ul> {# /.navbar-right #}
      
    
    </div> {# /.navbar-collapse #}
	</div> {# /.container-fluid #}
  </nav>
  
  
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  
  <footer>
    {% block footer %}
        <div class="container">
          <hr><p>&copy; Max Planck Society 2014-2017</p>
        </div>
    {% endblock footer %}
  </footer>
  </body>
</html>