{% extends "code_doc/base_template.html" %}
{% load gravatar %}
{% load static %}
{% load project_image %}

{% block title %}MPI.IS documentation and download center{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <h1>Documentation and download center</h1>
        <h3>Software Workshop</h3>
        <p>The Max Planck Institute for Intelligent Systems loves softwares, and loves reading documentation!</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'about' %}">Learn more</a></p>
      </div>
      <div class="col-md-4">
        
        <img class="media-object" src="{% get_static_prefix %}minerva_01.png" width="300px" />
      </div>
    </div>
  </div>


  <h2>Projects</h2>
  <p>You will find below a shorted list of Softwares and Libraries maintained by the Max Planck Institute for Intelligent Systems at Tübingen. 
     Click on a project for more details, or visit <a href="{% url 'project_list' %}">this page</a> for the complete list.
  </p>


{% if list_project_per_line %}
    
  {% for current_project_line in list_project_per_line %}
  
  <div class="row">
  {% for current_project in current_project_line %}
  <div class="col-md-{{ size_row }}">
    {% if current_project %}
    <div class="panel panel-default">
      <div class="panel-body" style="max-height: 50;">
         <p class="lead"><a href="{{ current_project.get_absolute_url }}">
         {% project_image current_project.id 32 '' %}{{ current_project.name }}
        </a>
        </p>
        <p>{{ current_project.short_description }}</p>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  </div>
  
  {% endfor %}

{% else %}
  <p>No registered project.</p>
{% endif %}


<h2>Topics</h2>
{% if list_topic_per_line %}
  
  
  {% for current_topic_line in list_topic_per_line %}
      <div class="row">
      {% for topic in current_topic_line %}
      <div class="col-md-{{ size_row }}">
      <ul class="nav nav-pills nav-stacked">
      
      <li class="active">
        {% if topic %}
        <a href="{{ topic.get_absolute_url }}" >
          <span class="badge pull-right color-red"> {{topic.project_set.count}} </span>
          {{ topic.name }}
        </a>
        {% endif %}
      </li>
      
      </ul>
      </div>
      {% endfor %}
    
      </div>  
  {% endfor %}
  
  
{% else %}
  <p>No registered topic.</p>
{% endif %}

{% endblock %}
