{% extends "code_doc/base_template.html" %}
{% load gravatar %}
{% load static %}
{% load project_image %}

{% block title %}Profile of {{ maintainer.username }}{% endblock %}


{% block content %}
  <h1>Profile of {{ maintainer.username | title }}</h1>

  <h3>Contact information</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User name</th>
        <th>Full name</th>
        <th>contact email</th>
        <th>Institute / organization</th>
        <th>Last login</th>
        
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td>{{ maintainer.username | title }}</td>
        <td>{{ maintainer.firstname | title }} {{ maintainer.lastname | title }}</td>
        <td>
          {% if maintainer.email.size %}
            <a href="mailto:{{maintainer.email}}" >{{maintainer.email}}</a>
          {% else %}
            (not provided)
          {% endif %}
        </td>
        <td>MPI</td>
        <td>{{maintainer.last_login}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Projects maintained</h2>
  {% if projects %}
    
      {% for project in projects %}
      <div class="media">
        <a class="pull-left" href="{% url 'project' project.id %}">
          {% project_image project.id 64 %}
        </a>
    
        <div class="media-body">
          <h4 class="media-heading">
            <a href="{% url 'project' project.id %}" >{{ project.name }}</a>
          </h4>
          <p>
            {{ project.short_description }}
          </p>
        </div>
      </div>
      {% endfor %}
    
  
  {% else %}
      <p>No project maintained by {{ maintainer.username | title }}.</p>
  {% endif %}

{% endblock %}