{% extends "code_doc/base_template.html" %}
{% load static %}

{% block title %} {% if series.id %} {{series.series}} - {% endif %} {{ project.name }}{% endblock %}

{% block additionalhead %}
  <link rel="stylesheet" href="{% static "datepicker3.css" %}">
  <script type="text/javascript" src="{% static "bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block content %}

    {% if series.id  %}
      <h1>{{ project.name }} - Series <a href={% url 'project_series' project.id series.id %}>{{series.series}}</a></h1>
      <div class="alert alert-info" role="alert">
        You are editing the series details
      </div>
    {% else %}
      <h1> <a href={% url 'project' project.id %}>{{ project.name }}</a> </h1>
      <div class="alert alert-info" role="alert">
          You are adding a new series to the project {{ project.name }}.</br>
      </div>

      <div class="alert alert-tip" role="alert">
        A series is a line of development, and contains the artefacts of those developments. For instance "night-builds", "stable", "experimental", etc.</br>
        Once created, a series can receive files, documentations, revision and branches.</br>
        A series can also have restricted accesses, which allows a subset of
        users sharing common interests on this line of development to access those artifacts.
	  </div>

    {% endif %}

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">The following error occurred with your submission {{form.errors}}</div>
    {% endif %}

    <form class="form-horizontal" enctype="multipart/form-data" action="" method="post" role="form">
        {% csrf_token %}

        {% for field in automatic_fields %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
        <div class="form-group">
        
          

          {% if field.error %}
          <div class="alert alert-danger" role="alert">
          {{ field.errors }}
          </div>
          {% endif %}

          <label for="{{ field.id_for_label }}" class="col-sm-1 control-label">{{ field.label }}</label>

          <div class="col-sm-8">
            {{ field }}
          </div>

          <div class="col-sm-3">
            <p class="help-block">{{ field.help_text }}</p>
          </div>

        </div>
        {% endif %}
        {% endfor %} {# automatic fields #}


    <h3>Permissions</h3>

    <p class="help-block">Indicate in the table below the permissions on this series granted to each user or group.</p>

    <div class="panel panel-default">
    <div class="panel-body">
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th width="30%">Users</th>
        {% for header in permission_headers %}
          <th>{{header}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for user, checks in user_permissions %}
      <tr>
        <td>{{user}}</td>
        {% for check1 in checks %}
        <td>
            <label for="{{ check1.id_for_label }}">
                {{ check1.tag }}
            </label>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>

    </table>
    {% if series.id %}
    <a type="button" class="btn btn-default btn-sm" data-toggle="modal" data-backdrop="static" data-target="#modal_add_user">
      <span class="glyphicon glyphicon-plus"></span> Add User
    </a>
    {% endif %}
    </div>
    </div>


    <div class="panel panel-default">
    <div class="panel-body">
    <table class="table table-hover table-condensed">

      <thead>
      <tr>
      <th width="30%">Groups</th>
      {% for header in permission_headers %}
        <th>{{header}}</th>
      {% endfor %}
      </tr>
      </thead>

      <tbody>
      {% for group, checks in group_permissions %}
      <tr>
        <td>{{group}} </td>
        {% for check1 in checks %}
        <td>
          <label for="{{ check1.id_for_label }}">
            {{ check1.tag }}
          </label>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
      </table>

      {% if series.id %}
      <a type="button" class="btn btn-default btn-sm" data-toggle="modal" data-backdrop="static" data-target="#modal_add_group">
        <span class="glyphicon glyphicon-plus"></span> Add Group
      </a>
      {% endif %}
      </div>
      </div>



      {% if series.id %}
        <button type="submit" class="btn btn-info pull-right">Save</button>
      {% else %}
        <button type="submit" class="btn btn-info pull-right">Create</button>
      {% endif %}  

    </form>

    <div class="modal fade" id="modal_add_user"></div>
    <div class="modal fade" id="modal_add_group"></div>


<script>
	$('.b-link').on('click', function(e){
		e.stopPropagation();
	});

    $('#modal_add_user').on('show.bs.modal', function (event) {
        var modal = $(this);
    	var project_id = "{{ project.id }}";
    	var series_id = "{{ series.id }}";
    	var url = "{% url 'project_series_add_user' '00' '000' %}".replace('000', series_id.toString()).replace('00', project_id.toString());;

    	$.ajax({
    		url: url,
    		context: document.body
    	}).done(function(response) {
            modal.html(response);
    	});
    })

    $('#modal_add_group').on('show.bs.modal', function (event) {
        var modal = $(this);
    	var project_id = "{{ project.id }}";
    	var series_id = "{{ series.id }}";
    	var url = "{% url 'project_series_add_group' '00' '000' %}".replace('000', series_id.toString()).replace('00', project_id.toString());;

    	$.ajax({
    		url: url,
    		context: document.body
    	}).done(function(response) {
            modal.html(response);
    	});
    })
</script>

{% endblock %}
