{% extends "code_doc/base_template.html" %}
{% load gravatar %}
{% load static %}
{% load markdown_filter %}

{% block title %}Topics's list{% endblock %}

{% block content %}
 
  <h1>Covered topics</h1>
  {% if topics %}
   {% for topic in topics %}
        
     <div class="media-body">
       <h4 class="media-heading">
         <a href="{% url 'topic' topic.id %}" >{{ topic.name|title }}</a> <span class="badge">{{topic.project_set.count}}</span> </h4>
       <p>{{topic.description_mk|markd|safe}}</p>
     </div>
   {% endfor %}
      


  
    <ul class="pagination">

      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}


      {% for p in paginator.page_range %}
        {% if p == page_obj.number %}
          <li class="active">
            <span>{{ p }} <span class="sr-only">(current)</span></span>
          </li>
        {% else %}
          <li>
            <a href="?page={{ p }}">{{ p }}</a>
          </li>            
        {% endif %}
      {% endfor %}


      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
            
    </ul>  
  
  {% else %}
      <p>No registered topic.</p>
  {% endif %}  





{% endblock %}