{% extends "code_doc/base_template.html" %}
{% load gravatar %}
{% load static %}
{% load author_image %}
{% load button_add_with_permission %}
{% load markdown_filter %}

{% block title %}{{ project.name }}{% endblock %}


{% block content %}
  <h1>{{ project.name }}</h1>

  {{ project.short_description }}

  <div class="row">
    <div class="col-md-8">
   
    <hr>
    {% if project.description_mk %}
    {{ project.description_mk|markd|safe }}
    {% else %}
    No additional description
    {% endif %}
    <hr>
    
    <h4>Copyright</h4>
    {% if project.copyright_holder.count %}
    <p>{% for copyholder in project.copyright_holder.all %}
    &copy; {{ copyholder.year }} {{ copyholder.name }}</br>
    {% endfor %}</p>
    <p>{{ project.copyright.name }}</p>
    {% else %}
    <p>No license / closed source</p>
    {% endif %}
             
    </div>

    <div class="col-sm-4">
      <h4>Authors</h4>
      {% if project.authors %}
      <div class="row">
        <div class="col-xs-8 col-sm-4">
		    {% for author in project.authors.all %}
		    <a href="{% url 'author' author.id %}" 
		       title="{{author.firstname}} {{author.lastname}}" 
		       alt="{{author.firstname}} {{author.lastname}}">
		      {% author_image author.id 32 %}
        </a>
		    {% endfor %}
		    </div>
		  </div>
      {% else %}
        <p>No author</p>
      {% endif %}

      <h4>Maintainers</h4>
		  {% if project.administrators.count > 0 %}
		    <ul>
		    {% for maintainer in project.administrators.all %}
		      <li>
		        <a href="{% url 'maintainer' maintainer.id %}" >{{ maintainer.username }}</a>
		      </li>
		    {% endfor %}
		    </ul>
		  {% else %}
		      <p>No registered maintainer</p>
		  {% endif %}
		  
		  <h4>Home page</h4>
		  {% if project.home_page_url %}
		  <p><kbd>{{ project.home_page_url }}</kbd></p>
		  {% else %}
		  <p>No home page provided</p>
		  {% endif %}
		  
		  <h4>Repositories</h4>
      {% if project.repositories.count > 0 %}
      {% for repo in project.repositories.all %}
      <p><kbd>{{ repo.code_source_url }}</kbd></p>
      {% endfor %}
      {% else %}
      <p>No registered repository</p> 
      {% endif %}

    </div>

  </div>


  {# ################################ #}
  {# Series #}
  <h3>Series {% button_add_series_with_permission user project %}</h3>

  {% if last_update %}

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Series</th>
          <th># files</th>
          <th>Tags</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      {% for series, current_last_updates in last_update.items %}
          <tr>
            <td class="text-nowrap">
              {% if series.is_public %}
                <span class="label label-success">public</span>
              {% else %}
                <span class="label label-warning">restricted</span>
              {% endif %}           
              <a href="{% url 'project_series' project.id series.id %}" >{{ series.series }}</a>
              <p><small>last updated {{ current_last_updates.last_update|date }}</small></p>
            </td>
            <td>{{ series.artifacts.count }}</td>
            <td>{% if current_last_updates.last_doc %}
              <a href="{% get_media_prefix %}{{current_last_updates.last_doc.get_documentation_url}}"><span class="label label-info">read doc online</span></a>
              {% endif %}
            </td>
            
            <td><small>{{ series.description_mk|markd|safe }}</small></td>
          </tr>
      {%endfor%}
      <tbody>

    </table>

  {% else %}
      <p>No released series.</p>
  {% endif %}

{% endblock %}
